* {
    color:black;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: lightslategray;
    text-align: center;
    margin:0px;
    max-width: 100%;
    height: 100%;
    overflow: auto;
}

h1 {
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(to right, rgb(255, 255, 0), rgb(72, 72, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

h2 {
    font-size: 80px;
    font-family: "Times New Roman", Times, serif;
    padding:30px;
}

h3 {
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#headershadow {
    background:none;
    text-shadow: 5px 5px 3px rgb(59, 6, 17);
    z-index: 0;
}

p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.659);
    font-weight: bold;
    padding:30px;
    margin-bottom:5px;
}

.header1 {
    background-color:crimson;
    text-align: center;
    height: max-content;
    padding:50px;
    padding-left: 10px;
    padding-right: 10px;
    margin:5px;
    display:grid;
    outline: 5px solid black;
    border: 10px double rgb(82, 6, 21);
}

.header2 {
    background-color:rgb(183, 107, 255);
    text-align: center;
    height: max-content;
    margin:5px;
    outline: 5px solid black;
    border: 10px double rgb(64, 21, 104);
}

.header3 {
    background-color: lightgreen;
    text-align: center;
    height: max-content;
    margin:5px;
    outline: 5px solid black;
    border: 10px double rgb(73, 119, 73);
}

.header4 {
    background-color:lightgoldenrodyellow;
    text-align: center;
    height: max-content;
    margin:5px;
    outline: 5px solid black;
    border: 10px double rgb(112, 112, 83);
}

.description {
    background-color: cadetblue;
    margin:0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    outline: 5px solid black;
    border: 10px double rgb(42, 69, 70);
    padding-top:15px;
}

.content {
    display:grid;
    border:none;
    margin:0px;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    row-gap: 0px;
    column-gap: 0px;
    padding:0px;
}

.card {
    width:100%;
    padding:0px;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px, solid, black;
    border-top:none;
}

button {
    width:100%;
    border-radius: 20px;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
  
.radiusout {
    animation-name: radiusout;
}
  
.radiusin {
    animation-name: radiusin;
}
  
@keyframes radiusout {
    0% {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
  
@keyframes radiusin {
    0% {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    100% {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.card > p {
    color:rgba(255, 255, 255, 0.70);
    font-weight: bolder;
    text-shadow:none;
    padding:10px;
    text-shadow: 3px 3px 3px black;
}

.content {
    display: flex;
    gap: 0px;
    justify-content: center;
    background-image: linear-gradient(to top, rebeccapurple, rgb(183, 107, 255));
}


.columnleft, .columnright {
    display: flex;
    flex-direction: column;
    width: 50%;
}

img {
    max-width:95%;
    border-radius: 20px;
    margin:2.5%;
    background-color: black;
    border: 5px solid black;
    object-fit: contain;
    opacity: 1;
}

video {
    max-width:95%;
    max-height:700px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin:2.5%;
    background-color: black;
    border: 5px solid black;
    object-fit: contain;
    margin-bottom:0px;
    user-select: none;
}

.pause, .reset {
    max-width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    padding:0px;
    position:relative;
    top:-6px;
    border-radius: 0px;
    text-shadow: 1px 0px 1px rgba(255, 255, 255),
                 0px 1px 1px rgba(255, 255, 255),
                 -1px 0px 1px rgba(255, 255, 255),
                 0px -1px 1px rgba(255, 255, 255);
}

.pause {
    background: linear-gradient(to bottom, rgb(110, 110, 110), rgb(150, 150, 150));
}

.pause:active {
    background: linear-gradient(to bottom, rgb(80, 80, 80), rgb(120, 120, 120));
}

.reset {
    background: linear-gradient(to bottom, rgb(150, 150, 150), rgb(190, 190, 190));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.reset:active {
    background: linear-gradient(to bottom, rgb(100, 100, 100), rgb(140, 140, 140));
}

a {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dodgerblue!important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.659),
                -1px -1px gray;
    font-weight: bold;
    margin-bottom:10px;
    text-decoration: none;
}

a:active {
    color: rgb(27, 127, 227)!important;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.659),
                  1px 1px gray;
}

#return {
    font-size:50px;
    margin:10px;
    margin-top:0px;
    border-radius: 5px;
}

.projectdescription {
    display:none;
}

#contact {
    display:grid;
}

#specialtext {
    color:rgba(255, 255, 255); 
    text-shadow: 3px 3px 3px black;
    padding:10px;
    margin-top:10px;
}


::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }


@media (max-width: 732px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 15px;
    }

    #return {
        font-size: 30px;
    }
}

@media (max-width: 500px) {

    .header1 {
        padding:10px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        margin:0px;
        padding-bottom:0px;
    }

    #projectname {
        margin:0px;
        padding:5px;
    }

    p {
        font-size: 15px;
    }

    .content {
        flex-direction: column;
    }

    .columnleft, .columnright {
        width: 100%;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .info {
        width: 100%;
    }

    #headershadow {
        text-shadow: 3px 3px 3px rgb(59, 6, 17);
    }
}